body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

/*a {*/
/*color: #00B7FF;*/
/*}*/

/*.thumbnail {*/
/*height: 100px !important;*/
/*border: 4px green;*/
/*}*/

/*div.pet_box {*/
/*border: double 4px green;*/
/*padding: 5px 10px;*/
/*}*/

.handle {
    width: 16px;
    height: 16px;
    margin: 3px 1em auto 0;
    background-image: url(../images/handle.png);
    float: left;
    cursor: move;
}


#sortable_right {
    background-color: green;
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    width: 40%;
    border: 1px solid red;
    float: right;
}

#sortable_left {
    background-color: blue;
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    width: 40%;
    border: 1px solid red;
    float: left;
}
#sortable_right li {
    background-color: lightgreen;
}
#sortable_left li {
    background-color: lightblue;
}

#sortable_right li,
#sortable_left li {
    border: double 4px green;
    margin: 3px;
    padding: 1px;
    float: left;
    width: 100px;
    height: 90px;
    font: 10px "Lucida Grande", Helvetica, Arial, sans-serif;
    text-align: center;
}
